*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  padding: 30px;
}

main {
  position: relative;
  min-height: 90vh;
  padding: 80px 60px;
  background-color: $black-primary;
  color: $text-color-primary;
}
