.btn {
  font-size: 16px;
  font-weight: 400;
  padding: 14px 30px;
  border-radius: 100px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s;
  backface-visibility: hidden;
  border: none;
  cursor: pointer;

  @include respond(phone) {
    font-size: 16px;
    padding: 8px 14px;
  }

  &:hover {
    transform: translateY(-3px);
  }

  &:active {
    transform: translateY(-1px);
  }

  &:focus {
    outline: none;
  }

  &__rounded {
    padding: 14px;
    height: 48px;
    width: 48px;

    &:hover {
      transform: translateY(0);
    }
  }
}
